[submodule "vim/bundle/vim-write"]
	path = vim/bundle/vim-write
	url = git@github.com:jdavcs/vim-write.git
    ignore = all
[submodule "vim/bundle/vim-journal"]
	path = vim/bundle/vim-journal
	url = git@github.com:jdavcs/vim-journal.git
    ignore = all
[submodule "vim/bundle/vim-timestamp"]
	path = vim/bundle/vim-timestamp
	url = git@github.com:jdavcs/vim-timestamp.git
    ignore = all
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = all
