[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
	ignore = untracked
[submodule "vim/bundle/vim-racket"]
	path = vim/bundle/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
	ignore = untracked
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
	ignore = untracked
[submodule "vim/bundle/vim-liquid"]
	path = vim/bundle/vim-liquid
    url = git@github.com:tpope/vim-liquid.git
	ignore = untracked
[submodule "vim/bundle/Vim-Jinja2-Syntax"]
	path = vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
	ignore = untracked
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue
	ignore = untracked
