[submodule "vim/bundle/vim-write"]
	path = vim/bundle/vim-write
	url = git@github.com:jdavcs/vim-write.git
[submodule "vim/bundle/vim-journal"]
	path = vim/bundle/vim-journal
	url = git@github.com:jdavcs/vim-journal.git
